/.classpath
/.externalToolBuilders
/.project
/.settings
/build
/.idea
/.vscode
/.nyc_output
*.iml
/bin/
/.gradle/
/.nb-gradle/
node_modules
/.cache
/.history/
cypress.env.json
debug.log
yarn.lock
/cypress/videos/*
/cypress/results/*
/cypress/screenshots/*
package-lock.json